1.missing values handle

2.temporal variables

3.remove rare labels

4.standarise the values of the same range

In [1]:
import pandas as pd

In [2]:
home_data=pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Advanced-House-Price-Prediction-/master/train.csv")

In [3]:
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [4]:
# ## Always remember there way always be a chance of data leakage so we need to split the data first and then apply feature
# ## Engineering
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test=train_test_split(dataset,dataset['SalePrice'],test_size=0.1,random_state=0)

Always remember there way always be a chance of data leakage so we need to train test split

In [5]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(home_data,home_data['SalePrice'],test_size=0.1,random_state=0)

In [6]:
print("Thsis is train data :",X_train.shape)

Thsis is train data : (1314, 81)

In [7]:
print("THis is test data:",X_test.shape)

THis is test data: (146, 81)

let us capture all the nan values

first handle categorical feature which are missing

In [8]:
categorical_nan=[feature for feature in home_data.columns if home_data[feature].isnull().sum()>1 and home_data[feature].dtype=='O']

In [9]:
import numpy as np
for feature in categorical_nan:
    print("{} missing values {}% ".format(feature,np.round(home_data[feature].isnull().mean(),4)))

Alley missing values 0.9377%
MasVnrType missing values 0.0055%
BsmtQual missing values 0.0253%
BsmtCond missing values 0.0253%
BsmtExposure missing values 0.026%
BsmtFinType1 missing values 0.0253%
BsmtFinType2 missing values 0.026%
FireplaceQu missing values 0.4726%
GarageType missing values 0.0555%
GarageFinish missing values 0.0555%
GarageQual missing values 0.0555%
GarageCond missing values 0.0555%
PoolQC missing values 0.9952%
Fence missing values 0.8075%
MiscFeature missing values 0.963%

In [10]:
def replacement(data,feature):
    data=home_data.copy()
    data[feature]=data[feature].fillna("Missing")
    return data

In [11]:
home_data=replacement(home_data,categorical_nan)

In [12]:
home_data[categorical_nan].isnull().sum()

Alley           0
MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
dtype: int64

In [13]:
import numpy as np
for feature in categorical_nan:
    print("{} missing values {}% ".format(feature,np.round(home_data[feature].isnull().mean(),4)))

Alley missing values 0.0%
MasVnrType missing values 0.0%
BsmtQual missing values 0.0%
BsmtCond missing values 0.0%
BsmtExposure missing values 0.0%
BsmtFinType1 missing values 0.0%
BsmtFinType2 missing values 0.0%
FireplaceQu missing values 0.0%
GarageType missing values 0.0%
GarageFinish missing values 0.0%
GarageQual missing values 0.0%
GarageCond missing values 0.0%
PoolQC missing values 0.0%
Fence missing values 0.0%
MiscFeature missing values 0.0%

2.numerical nan missing values

In [14]:
numerical_nan=[feature for feature in home_data.columns if home_data[feature].isnull().sum()>1 and home_data[feature].dtype!='O']

In [15]:
for feature in numerical_nan:
    print("{} missing values{}%".format(feature,np.round(home_data[feature].isnull().mean(),4)))

LotFrontage missing values0.1774%
MasVnrArea missing values0.0055%
GarageYrBlt missing values0.0555%

In [16]:
def numerical_missing(dataset,feature):
    dataset=dataset.copy()
    dataset[feature]=dataset[feature].median()
    return dataset

In [17]:
home_data=numerical_missing(home_data,numerical_nan)

In [18]:
home_data[numerical_nan].isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [19]:
for feature in numerical_nan:
    print("{} missing values{}%".format(feature,np.round(home_data[feature].isnull().mean(),4)))

LotFrontage missing values0.0%
MasVnrArea missing values0.0%
GarageYrBlt missing values0.0%

temporal variables (data time variables)

In [20]:
for feature in['YearBuilt','YearRemodAdd','GarageYrBlt']:
    home_data[feature]=home_data['YrSold']-home_data[feature]

In [21]:
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,69.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,208500
1,2,20,RL,69.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,181500
2,3,60,RL,69.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,9,2008,WD,Normal,223500
3,4,70,RL,69.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2006,WD,Abnorml,140000
4,5,60,RL,69.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,12,2008,WD,Normal,250000

log distribution

In [22]:
num_feature=['LotFrontage','LotArea','1stFlrSF','GrLivArea','SalePrice']
for feature in num_feature:
    home_data[feature]=np.log(home_data[feature])

In [23]:
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,4.234107,9.041922,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,12.247694
1,2,20,RL,4.234107,9.169518,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,12.109011
2,3,60,RL,4.234107,9.328123,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,9,2008,WD,Normal,12.317167
3,4,70,RL,4.234107,9.164296,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2006,WD,Abnorml,11.849398
4,5,60,RL,4.234107,9.565214,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,12,2008,WD,Normal,12.429216

rare feature remove

<!-- for feature in categorical_features:
    temp=dataset.groupby(feature)['SalePrice'].count()/len(dataset)
    temp_df=temp[temp>0.01].index
    dataset[feature]=np.where(dataset[feature].isin(temp_df),dataset[feature],'Rare_var') -->

In [24]:
categorical_feature=[feature for feature in home_data.columns if home_data[feature].dtype=='O']

In [25]:
for feature in categorical_feature:
    temp=home_data.groupby(feature)['SalePrice'].count()/len(home_data)
    temp_df=temp[temp>0.01].index
    home_data[feature]=np.where(home_data[feature].isin(temp_df),home_data[feature],'Rare_var')

In [26]:
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,4.234107,9.041922,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2008,WD,Normal,12.247694
1,2,20,RL,4.234107,9.169518,Pave,Missing,Reg,Lvl,AllPub,...,0,Missing,Missing,Missing,0,5,2007,WD,Normal,12.109011
2,3,60,RL,4.234107,9.328123,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,9,2008,WD,Normal,12.317167
3,4,70,RL,4.234107,9.164296,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,2,2006,WD,Abnorml,11.849398
4,5,60,RL,4.234107,9.565214,Pave,Missing,IR1,Lvl,AllPub,...,0,Missing,Missing,Missing,0,12,2008,WD,Normal,12.429216

In [27]:
home_data['MSZoning'].unique()

array(['RL', 'RM', 'Rare_var', 'FV', 'RH'], dtype=object)

In [28]:
for feature in categorical_feature:
    labels_ordered=home_data.groupby([feature])['SalePrice'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    home_data[feature]=home_data[feature].map(labels_ordered)

In [29]:
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,4.234107,9.041922,1,2,0,1,1,...,0,0,4,2,0,2,2008,2,3,12.247694
1,2,20,3,4.234107,9.169518,1,2,0,1,1,...,0,0,4,2,0,5,2007,2,3,12.109011
2,3,60,3,4.234107,9.328123,1,2,1,1,1,...,0,0,4,2,0,9,2008,2,3,12.317167
3,4,70,3,4.234107,9.164296,1,2,1,1,1,...,0,0,4,2,0,2,2006,2,0,11.849398
4,5,60,3,4.234107,9.565214,1,2,1,1,1,...,0,0,4,2,0,12,2008,2,3,12.429216

Scalling feature all dataset

In [30]:
scalling_feature=[feature for feature in home_data.columns if feature not in ['SalePrice','Id']]

In [31]:
print("This is total length of sacalling feature:",len(scalling_feature))

This is total length of sacalling feature: 79

In [32]:
# feature_scale=[feature for feature in dataset.columns if feature not in ['Id','SalePrice']]

# from sklearn.preprocessing import MinMaxScaler
# scaler=MinMaxScaler()
# scaler.fit(dataset[feature_scale])

In [33]:
from sklearn.preprocessing import MinMaxScaler
scaller=MinMaxScaler()
scaller.fit(home_data[scalling_feature])

MinMaxScaler()

In [34]:
scaller.transform(home_data[scalling_feature])

array([[0.23529412, 0.75      , 0.        , ..., 0.5       , 0.66666667,
        0.75      ],
       [0.        , 0.75      , 0.        , ..., 0.25      , 0.66666667,
        0.75      ],
       [0.23529412, 0.75      , 0.        , ..., 0.5       , 0.66666667,
        0.75      ],
       ...,
       [0.29411765, 0.75      , 0.        , ..., 1.        , 0.66666667,
        0.75      ],
       [0.        , 0.75      , 0.        , ..., 1.        , 0.66666667,
        0.75      ],
       [0.        , 0.75      , 0.        , ..., 0.5       , 0.66666667,
        0.75      ]])

In [35]:
#  transform the train and test set, and add on the Id and SalePrice variables
# data = pd.concat([dataset[['Id', 'SalePrice']].reset_index(drop=True),
#                     pd.DataFrame(scaler.transform(dataset[feature_scale]), columns=feature_scale)],
#                     axis=1)

tranform the train and test set and add on the Id and saleprice variable

In [36]:
data=pd.concat([home_data[['Id','SalePrice']].reset_index(drop=True),pd.DataFrame(scaller.transform(home_data[scalling_feature]),columns=scalling_feature)],axis=1)

In [37]:
data

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,12.247694,0.235294,0.75,0.0,0.366344,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.090909,0.50,0.666667,0.75
1,2,12.109011,0.000000,0.75,0.0,0.391317,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.363636,0.25,0.666667,0.75
2,3,12.317167,0.235294,0.75,0.0,0.422359,1.0,1.0,0.333333,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.727273,0.50,0.666667,0.75
3,4,11.849398,0.294118,0.75,0.0,0.390295,1.0,1.0,0.333333,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.090909,0.00,0.666667,0.00
4,5,12.429216,0.235294,0.75,0.0,0.468761,1.0,1.0,0.333333,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,1.000000,0.50,0.666667,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,12.072541,0.235294,0.75,0.0,0.353592,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.636364,0.25,0.666667,0.75
1456,1457,12.254863,0.000000,0.75,0.0,0.453273,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,0.50,1.0,0.00000,0.090909,1.00,0.666667,0.75
1457,1458,12.493130,0.294118,0.75,0.0,0.379597,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,0.75,0.5,0.16129,0.363636,1.00,0.666667,0.75
1458,1459,11.864462,0.000000,0.75,0.0,0.393688,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.272727,1.00,0.666667,0.75
1459,1460,11.901583,0.000000,0.75,0.0,0.398069,1.0,1.0,0.000000,0.333333,...,0.0,0.0,0.0,1.00,1.0,0.00000,0.454545,0.50,0.666667,0.75

In [38]:
data.to_csv("X_train.csv",index=False)